<header class="bg-white fg-dark">
	<div class="fluid-container {{theme.headerclass}} ">
		{{header|raw}}
	</div>
</header>
<nav class="main-menu bg-control">
    <div class="fluid-container {{theme.menuclass}}">
        <div class="container">
            <div data-role="appbar" class="pos-relative  {{theme.menuclass}}  app-bar" data-expand-point="md">
                <ul class="app-bar-menu order-2 order-lg-1 collapsed" style="">
                    {{menu|raw}}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% if route=='index.php' %}
<div class="fluid-container parallax-window {{theme.parallaxclass}}" style="height:{{theme.parallaxheight}}px;" data-parallax="scroll" data-image-src="{{theme.parallaximg}}"> 
{{parallaxpage|raw}}
</div>
{% endif %}
<div class="container">
	{{page|raw}}
</div>
<div class="fluid-container">
	{{footer|raw}}
</div>